<template name="templBook">
	<ul class="thumbnails">
  {{#each stories}}
    {{> templStory}}
  {{/each}}
  </ul>
</template>

<template name="templNewStory">
  <div id="containerNewStory">
    <input type="text" id="title" placeholder="title" />
    <input type="textarea" id="text" placeholder="text" />
    <input type="text" id="link" placeholder="link" />
    <input type="text" id="score" placeholder="score" />
    <input type="button" id="addStory" class="addStory" value="Add Story" />
  </div>

</template>

<template name="templStory">
	<li class="span3">
	  <div class="thumbnail">
		<img src="http://placehold.it/320x200" alt="ALT NAME">
		<div class="caption">
		  <h4>{{title}}</h4>
		  <p>{{text}}</p>
		  <p align="center">
			<a href="{{link}}" class="btn btn-primary btn-block">Open Link</a>
			<a href="#" class="btn btn-block">44 Comments</a>
		  </p>
		</div>
	  </div>
	</li>
</template>